table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #4fddc7;
    border: 1px solid
    padding: 8px;
}

.text-right {
    color: #ff382d;
}
